#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    10,0,1,0
PRODUCTVERSION 10,0,1,0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_DLL
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "foobar2000 community"
            VALUE "FileDescription", "Album Art Grid for foobar2000"
            VALUE "FileVersion", "10.0.1.0"
            VALUE "InternalName", "foo_albumart_grid"
            VALUE "LegalCopyright", "Public Domain"
            VALUE "OriginalFilename", "foo_albumart_grid.dll"
            VALUE "ProductName", "Album Art Grid"
            VALUE "ProductVersion", "10.0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END